.ds-button {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  user-select: none;

  &.small {
    padding: 0.1rem 0.5rem;
  }

  &.medium {
    padding: 0.3rem 1rem;
  }

  &.large {
    padding: 0.5rem 1.5rem;
  }

  &.primary {
    background: cadetblue;
  }

  &.secondary {
    background: green;
  }

  &.destructive {
    background: red;
  }
}
